*.db
.minitagecfg/
b.sh
minitage.buildout.cfg
*.mo
*.swp
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
beaker-data
develop-eggs
downloads
eggs
fake-eggs
include
lib
local
parts
dist
share
var
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.coverage
.cache/
minitage.test.cfg
.pydevproject
.project

